.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #404042;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: none;
  text-align: none;
  justify-content: none;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-focus {
  background-color: #8AC542;
  display: flex;
  flex-direction: column;
  text-emphasis-color:  white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-dropdown-menu {
  height:100px;
  list-style: none;
  padding:0px;
  overflow-Y:scroll;
}

.App.dropdown-content {
  max-height: 13em;
  overflow: auto;
}